

body{
    background-color:#EEF9BF;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0 30px 0;
}

header > h1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    text-align: center;
    color: #75B79E;

}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between--;
}

.carta{
    width: 117px;
    height: 146px;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8 ;
    box-sizing: border-box;
    border-radius: 5px;
    /* borda inner */
    position: relative;
    margin: 17px;
    transition: all .5s;
    transform: rotateY(0deg);
    transform-style: preserve-3d;}

.virar{
    transition: all .5s;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}

.carta > img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 24px;
    left: 10px;
}

.frente, .verso{
    opacity: 0;
}

.amostrado{
    opacity: 1;
}

@media(max-width:767px){
    header > h1{
        font-size: 36px;
    }

    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}